# Configuración de Flask
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=clave_secreta_generada_aqui

# Base de Datos PostgreSQL
# Reemplaza con tus datos: postgresql://usuario:password@host:puerto/nombre_db
DATABASE_URL=postgresql://postgres:root@localhost:5432/sages

# Configuración de Correo (Notificaciones de solicitudes)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_clave_de_aplicacion